body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://img.freepik.com/premium-photo/cooking-ingredient-white-table-background_798854-433.jpg?size=626&ext=jpg&ga=GA1.1.1216120637.1695808448&semt=ais');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  font: 500 0.8em "Lato", sans-serif;
  text-align: center;
}

/* Updated CSS for the nav */
.sign_in_user_bar {
  margin-top: 0;
  padding-top: 0;
  background: #2d2738;
  opacity: 0.95;
}

.header {
  color: #0ce222;
  width: 100%;
  height: 75px;
  opacity: 0.95;
  box-shadow: #333 1px 3px 4px;
  overflow: hidden;
  -webkit-box-shadow: #333 1px 3px 4px;
  -moz-box-shadow: #333 1px 3px 4px;
}

.menu {
  width: 70%;
  margin: 0 auto;
}

ul li {
  margin: 0;
  padding: 10px 0 10px 0;
  width: 25%;
  height: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fffe08;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.5em;
}

li.active {
  color: orange;
  transform: scale(1.1);
}

a {
  background-color: #282928;
  color: rgb(210, 205, 205);
  text-decoration: none;
  padding: 1em;
  border: 1px solid rgb(240 240 240 / 13%);
  box-shadow: 0 103px 100px rgba(103, 102, 102, 0.2);
  border-radius: 0.5rem;
}

.sign_out a {
  color: #9dc0eb;
  text-decoration: none;
  border: 1px solid rgba(255, 0, 0, 0.13);
  width: 2em;
}

@media (max-device-width: 991px) {
  .header {
    height: 64px;
  }

  body {
    font-size: 0.4em;
  }
}

.tableDiv {
  opacity: 0.95;
  margin: 0 auto;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);

  --tw-text-opacity: 1;

  color: #1708ff;
  background-color: greenyellow;
  border-radius: 0.5rem;
}

th {
  font-weight: bold;
}

th,
td,
tr {
  padding: 1em;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: rgb(211, 236, 174);
  opacity: 0.8;
}

tbody tr:nth-child(odd) {
  background-color: rgb(227, 253, 188);
  opacity: 0.8;
}

.Delete {
  display: inline-block;
  padding: 0.5em 0.5em;
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
}

.Delete button {
  color: white;
  background-color: #17141d;
  opacity: 0.8;
  border-radius: 0.5rem;
}

input[type=submit] {
  margin-top: 12px;
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select,
input,
textarea,
.post-button {
  width: 100%;
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

form div {
  display: flex;
}

label {
  width: 20%;
}

.cont {
  margin: 0 auto;
  max-width: 59rem;
  padding: 1em;
  color: rgb(34, 32, 32);
  background-color: greenyellow;
  opacity: 0.8;
}

.register {
  background-color: #333;
  margin: 3em auto;
  max-width: 30rem;
  padding: 2em;
  opacity: 0.8;
  color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type=checkbox] {
  max-width: 4em;
}

.actions {
  max-width: 6em;
  display: flex;
  align-self: flex-end;
}

.links a {
  color: aliceblue;
  background-color: #2d2e2d;
  opacity: 0.8;
  border-radius: 0.5rem;
}

.links {
  display: flex;
  gap: 1em;
  padding-top: 1em;
}

.user-sign {
  opacity: 0.8;
  border-radius: 0.5rem;
  cursor: pointer;
  float: left;
  padding: 2em;
  position: relative;
}

.user-sign a {
  background-color: #2d2e2d;
  color: aliceblue;
  opacity: 0.8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.notice {
  background-color: #4caf50;
  color: aliceblue;
  opacity: 0.8;
  padding: 2em;
  max-width: 8em;
  position: fixed;
  bottom: 0;
  right: 2.5em;
}

.alert {
  background-color: #dc807a;
  color: aliceblue;
  opacity: 0.8;
  padding: 2em;
  max-width: 8em;
  position: fixed;
  bottom: 0;
  right: 1em;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
}

.recipeDiv {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  max-width: 59rem;
  padding: 1em;
  color: rgb(34, 32, 32);
  background-color: greenyellow;
  opacity: 0.8;
  gap: 5em;
}

.recipe {
  display: flex;
  background-color: rgb(109 111 107);
  opacity: 0.8;
  color: #fcfcfc;
  font-size: medium;
}

.recipe p {
  width: 85%;
}

.recipe div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.total_info {
  display: flex;
  gap: 1em;
  justify-content: center;
}

#shopping {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: medium;
}

.recipe_name a {
  font-size: larger;
  color: #ef005c;
  border-radius: 0%;
  padding: 0.5em;
  background-color: rgb(237 242 231);
}

.field {
  margin-bottom: 20px;
}

#is_public {
  justify-content: flex-end;
  display: flex;
  color: white;
}

.recipe-food-actions a,
.recipe-food-actions button {
  display: inline-block;
  padding: 1em;
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
}

#is_public button {
  background-color: #2d2e2d;
  color: white;
}

#is_public button:hover {
  background-color: rgb(231, 103, 103);
}

.detailsDiv {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  max-width: 59rem;
  padding: 1em;
  color: rgb(34, 32, 32);
  background-color: greenyellow;
  opacity: 0.8;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.toggle-button.public {
  background-color: gainsboro;
}

.toggle-button.private {
  background-color: green;
}

.toggle-button:hover {
  background-color: red;
}

.toggle-button.private:hover {
  background-color: green;
}

.names {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
}

.btn:hover {
  background-color: #555;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-body {
  padding: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.cols {
  flex: 1;
}

.item-info {
  display: flex;
}

#recipe_id {
  justify-content: space-around;
}

small {
  color: black;
  display: flex;
  font-size: 18px;
  margin-left: 10px;
  align-items: center;
}

.count-value {
  color: #333;
  margin-left: 10px;
}

.new-recipe-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.new-recipe-link:hover {
  background-color: #0056b3;
}

.back-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.back-link:hover {
  background-color: #555;
}
